<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KuaiLiao.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D82EEABC209BC85DD8E953DE0B71F47658546964</string>
				<key>dateExpires</key>
				<string>2020/4/16</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8EDMCH2Z7A.com.chushouwl.HALA</string>
				<key>com.apple.developer.associated-domains</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>8EDMCH2Z7A</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>KuaiLiao.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>dff16867-8808-4bec-9ee8-a6e3a29b5541</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.chushouwl.HALA</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8EDMCH2Z7A</string>
				<key>name</key>
				<string>Xi'an Tentacle Network Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
